In [91]:
import requests 
import pandas as pd
import json

In [114]:
url="http://api.icndb.com/jokes/15"
response=requests.get(url)
print(response.content)
jokea=json.loads(response.content)

b'{ "type": "success", "value": { "id": 15, "joke": "When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.", "categories": [] } }'

In [115]:
print(jokea["value"]["joke"])

When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.

In [116]:
print(jokea["id"]["joke"])

KeyError: 'id'

In [93]:

test=pd.read_csv('/Users/parthsharma/Desktop/Data Science CB/Test/ID.csv').values
with open('Submission.csv','w') as f:
     for i in test:
                joke=[]
                url="http://api.icndb.com/jokes/{}".format(int(i))
                response=requests.get(url)
                result=""
                joke=json.loads(response.content)['value']['joke'] #load the joke in json format and extract value and joke column
                result+="{},".format(i)+joke+"\n"
                #print(result)
                f.write(result)

In [111]:

df=pd.read_csv('Submission.csv',engine='python',sep='delimiter',header=None)
df.head()

                                                   0
0  [1],Chuck Norris uses ribbed condoms inside ou...
1  [2],MacGyver can build an airplane out of gum ...
2  [3],Chuck Norris doesn't read books. He stares...
3  [4],If you ask Chuck Norris what time it is, h...
4  [5],Chuck Norris lost his virginity before his...